src/main/mule/customer_crud.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="customer_crud-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customer_crud-config" api="customer_crud.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="a8b6361f-5599-4391-a280-e3551da5a4df" >
		<db:my-sql-connection host="database-3.chtutjabg4gc.ap-northeast-1.rds.amazonaws.com" port="3306" user="admin" password="9333888839" database="jaggu_db" />
	</db:config>
	<api-gateway:autodiscovery apiId="18866150" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="4f3ea4bf-3ce2-4194-b16a-be1c235aa171" flowRef="customer_crud-main" />
	<flow name="customer_crud-main">
        <http:listener config-ref="customer_crud-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer_crud-config" />
    </flow>
    <flow name="put:\updateCustomer:application\json:customer_crud-config">
        <db:update doc:name="Update" doc:id="4c40625a-dd75-4b9e-ab7d-2b8cde885598" config-ref="Database_Config">
			<db:sql ><![CDATA[update jaggu_db.customer set telephone=:telephone where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	telephone:payload.telephone
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "customer updated succussfully in database"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\deleteCustomerById:customer_crud-config">
        <db:delete doc:name="Delete" doc:id="30cea764-f5ae-43ab-9364-0c09387fdb87" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from jaggu_db.customer where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.queryParams.customerId
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "customer deleted succussfully in database"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getCustomerById:customer_crud-config">
        <db:select doc:name="Select" doc:id="b4ffc196-513e-4c0a-867b-640aa80f1cb7" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from jaggu_db.customer where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.queryParams.customerId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createCustomer:application\json:customer_crud-config">
        <db:insert doc:name="Insert" doc:id="a32417a7-5ba2-4460-9457-0116726086df" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into jaggu_db.customer(id,name,email,address,telephone) values(:id,:name,:email,:address,:telephone)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	name:payload.name,
	email:payload.email,
	address:payload.address,
	telephone:payload.telephone
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "customer created in database"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
